<h1><span>{{hero.id ? 'Edit': 'New'}}</span> Hero <small>{{hero.superhero}}</small></h1>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
  <div fxFlex="70" fxLayout="column">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
      <mat-form-field fxFlex="50">
        <mat-label>
          Super hero
        </mat-label>
        <input [(ngModel)]="hero.superhero" matInput type="text" required>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <mat-label>
          Alter ego
        </mat-label>
        <input [(ngModel)]="hero.alter_ego" matInput type="text" required>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>
        First appearance
      </mat-label>
      <input [(ngModel)]="hero.first_appearance" matInput type="text" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Characters
      </mat-label>
      <input [(ngModel)]="hero.characters" matInput type="text" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Characters
      </mat-label>
      <mat-select [(ngModel)]="hero.publisher" required>
        <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
          {{publisher.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Photo url
      </mat-label>
      <input [(ngModel)]="hero.alt_image" (input)="onImageChange()" matInput type="url" [disabled]="!this.hero.alt_image && !!this.hero.id" required>
    </mat-form-field>

    <br>

    <div fxLayout="row" fxLayoutGap="40px">
      <button fxFlex="50" mat-raised-button color="primary" (click)="onSubmit()">
        <mat-icon>edit</mat-icon>
        {{hero.id ? 'Update': 'Create'}}
      </button>

      <button *ngIf="hero.id" fxFlex="50" mat-raised-button color="warn" (click)="onDelete()">
        <mat-icon>remove</mat-icon>
        Delete
      </button>
    </div>
  </div>
  <div fxFlex="30">
    <img [src]="hero | image" alt="hero image">
  </div>
</div>
